.advantages {
  margin-left: 31px;
  margin-top: 65px;
}

.advantages__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advantages-list {

  list-style: none;
}

.advantages-list__descraption {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color:#000000;
  padding-top:50px;

}
