.advantages {
  margin-left: 31px;
  margin-top: 65px;
  font-weight: 700;
}

.advantages__title {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advantages-list {

  list-style: none;
}

.advantages-list__descraption {
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding-top: 50px;
}

@media(min-width:@tablet-width) {
  .advantages {
    display: flex;
  }

  .advantage__title {}

  .advantages-list-2 {

    list-style: none;
  }

  .advantages-list {

  }

  .advantages-list__descraption {
    width: 350px;
  }
}
