.comment {
  margin-top: 50px;
  margin-left: 31px;
  margin-right: 35px;
}

.comment-wraper__opinion {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.comment-wraper__write-opinion {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-top: 26px;
}

.comment-wraper__autor {
  margin-top: 50px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
}

.comment-wraper__autor-address {
  margin-bottom: 25px;
}

.button-direction {
  display: flex;
  margin-bottom: 20px;
}

.button-direction__left,
.button-direction__right {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 160px;
  border: 1px solid @ec-color;
}

.btn__style {
  background-color: transparent;
  border-style: none;
}

.write-comment__btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: @braun-letters-color;
  background-color: transparent;
  padding: 10px 0;
  width: 260px;
  border: 2px solid @braun-letters-color;
}

@media (min-width: @tablet-width) {
  .button-direction {
    position: relative;
    left: 370px;
    bottom: 70px;
  }

  .write-comment__btn {
    position: relative;
    left: 435px;
    bottom: 340px;
  }

  .comment {
    background-image: url("../img/yarn.png");
    background-repeat: no-repeat;
  }
}
