.comunication {
  margin-left: 31px;
  margin-right: 31px;
}

.comunication-wraper {
  display: flex;
  flex-wrap: wrap;
}

.comunication-wraper__title {
  margin-top: 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  width: 100%;
}

.comunication-wraper__email,
.comunication-wraper__name-email,
.comunication-wraper__address,
.comunication-wraper__show-address-shop {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.comunication-wraper__email,
.comunication-wraper__address {
  width: 20%;
}

.comunication-wraper__name-email,
.comunication-wraper__show-address-shop {
  width: 80%;
}

.comunication-wraper__submit {
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: #444444;
  width: 260px;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid #444444;
}

.footer-mishka {
  display: none;
}


@media (min-width: @tablet-width) {
  .comunication-wraper__name-email {
    width: 200px;
  }

  .comunication-wraper__address {
    width: 100px;
  }

  .comunication-wraper__show-address-shop {
    width: 200px;
  }

  .comunication-wraper__submit {
    margin-left: 240px;
  }

  .footer-mishka {
    display: block;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
