.comunication {
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 668px;
  }

  @media (min-width: @desctop-width) {
    margin-top: 120px;
    position: relative;
  }
}

.comunication-wraper {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: @desctop-width) {
    flex-direction: column;
    width: 50%;
    //margin-left: 100px;
    margin: 0;
  }
}

.comunication-wraper__title {
  margin-top: 70px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: @black;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 43px;
    line-height: 0;
    margin-left: 0;
    margin-bottom: 50px;
  }

  @media (min-width: @desctop-width) {
    font-size: 43px;
    line-height: 0px;
    margin-bottom: 50px;
  }
}

.comunication-wraper__email {
  width: 100%;
  margin: 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
  background: blue;

  @media (min-width: @tablet-width) {
    width: 40%;
    margin-left: 0;
  }

  @media (min-width: @desctop-width) {
    margin-bottom: 50px;
  }
}

.comunication-wraper__name-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 80%;
  margin-left: 20px;

  @media (min-width: @tablet-width) {

    width: 100%;
    background: red;
  }
}

.comunication-wraper__address {
  display: flex;
  background: blue;
  width: 100%;
  margin: 0 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: @tablet-width) {
    width: 40%;
  }

  @media (min-width: @desctop-width) {
    margin-bottom: 88px;
  }
}

.comunication-wraper__show-address-shop {
  font-weight: 400;
  display: flex;

  font-size: 14px;
  line-height: 30px;
  width: 50%;
  background: red;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 49%;
  }

  @media (min-width: @desctop-width) {
    width: 100%;
  }
}

.comunication__map {
  width: 100%;
  min-height: 555px;
  position: relative;
  margin-bottom: 50px;
  text-align: center;

  @media (min-width: @tablet-width) {
    height: 457px;
    display: block;
  }

  @media (min-width: @desctop-width) {
    height: 457px;
    display: block;
    width: 526px;
  }
}

.map__google {
  min-width: 100%;
  min-height: 455px;
  margin: 0 auto 50px 0;

  @media (min-width: @tablet-width) {
    // margin-left: -50px;
    height: 457px;
    //position: absolute;
    top: -520px;
  }

  @media (min-width: @desctop-width) {
    left: 600px;
    top: -455px;
  }
}

.comunication-wraper__submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  color: @braun-letters-color;
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  background-color: transparent;
  border: 2px solid @braun-letters-color;

  @media (min-width: @tablet-width) {
    margin: 0 auto 0 auto;
  }

  @media (min-width: @desctop-width) {
    margin: 0;
  }
}
