.copyright {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 30%;
    height: 143px;
    margin: 0;
    padding: 0;
  }
}

.copyright__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  color: @black;
  margin-top: -22px;

  @media (min-width: @tablet-width) {
    margin-left: -1px;
    margin-right: 7px;
    margin-top: -9px;
  }

  @media (min-width: @desctop-width) {
    margin-left: 59px;
    margin-right: 8px;
    margin-top: -3px;
  }
}

.copyright__link {
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 34px;
  margin-top: -19px;
  margin-left: 26px;

  &:hover {
    background-image: url("../img/htmlacademy-hover.svg");
    background-repeat: no-repeat;
  }

  &:active {
    background-image: url("../img/htmlacademy-active.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    margin-left: 21px;
    margin-top: -8px;
  }

  @media (min-width: @desctop-width) {
    margin-left: 21px;
    margin-top: -1px;
  }
}
