.footer-mishka {
  display: none;

  @media (min-width: @tablet-width) {

    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-content: center;
  }
}

.logo-svg {
  fill: @black;

  &:hover {
    fill: @underline-hover-color;
  }

  &:active {
    fill: @hover-dark-green;
  }
}
