.footer-mishka {
  display: none;

  @media (min-width: @tablet-width) {

    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
    justify-content: center;
    background: blue;
  }
}
