.footer {
  height: 164px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: @white-color;

  @media (min-width: @tablet-width) {
    min-width: 668px;

    height: 143px;
    flex-direction: row;
    justify-content: space-between;
  }
}
