.wrap-basket__basket,
.wrap-basket__result,
.header-item__link,
.header-item-add__link,
.header__link-logo,
.search-result__enter,
.search-result__text,
.header-nav__delivery {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  border-style: none;
  color: @black;
  display: flex;
  padding: 27px 0;
  width: 200px;
}


//Логотип
.header-nav-item {
  position: relative;


  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: red;
  }

  @media (min-width: @desctop-width) {
    order: 2;
    justify-content: center;
  }
}

.header__link-logo {
  position: static;
  background-position: 50% 50%;
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: center;
  background-image: url("../img/mishka-logo.svg");
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    position: static;
    width: 299px;
    height: 90px;
    padding: 0;
    background-position: 0 50%;
    background-image: url("../img/mishka-logo-tablet.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: @desctop-width) {
    width: 200px;
    position: absolute;
    left: 0;
    background-image: url("../img/mishka-logo-desktop.svg");
    background-repeat: no-repeat;
    z-index: 3;
    margin-left: 35px;
  }
}

// основные разделы верхней части навигации
.header-item {
  background: blue;
  width: 260px;
  margin: 0 auto;
  z-index: 7;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 90px;
    margin: 0;
    background: transparent;
  }

  @media (min-width: @desctop-width) {
    order: 1;
    width: 40%;
  }
}

.header-item__link {
  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 15px;
    background: transparent;
  }
}

//Раздел для десктопа
.header-item-add {
  display: none;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desctop-width) {
    display: flex;
    order: 3;
    background: transparent;
    width: 45%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    height: 90px;
  }
}

.header-item-add__link {
  z-index: 7;
}

// Разделы навигации
.header-nav__list-up {
  display: flex;
  list-style: none;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-wrap: wrap;
    flex-direction: row;
    width: 45%;
    height: 90px;
    margin: 0;
    background: magenta;
  }
}

.header-nav__list-down {
  display: flex;
  list-style: none;
  flex-direction: column;

  @media (min-width: @tablet-width) {

    height: 90px;
    margin: 0;
    width: 55%;
    flex-wrap: wrap;
    flex-direction: row;
    background: tomato;
    justify-content: flex-end;
  }

  @media (min-width: @desctop-width) {
    margin: 0;
    width: 50%;
    flex-grow: 1;
  }
}

//Поисковик
.search-result__pic {
  @media (min-width: @tablet-width) {
    background: rgb(38, 0, 128);
    width: 85px;
    height: 90px;

    &::before {
      content: "";
      position: absolute;
      left: -68px;
      top: 30px;
      width: 36px;
      height: 39px;
      background-image: url("../img/search.svg");
      background-repeat: no-repeat;

      @media (min-width: @tablet-width) {
        left: 35px;
        top: 35px;
      }
    }
  }
}

.search-result__enter {
  background: rosybrown;
  margin: 0 auto 0 0;
  width: 260px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.search-result {
  display: flex;
  background: gold;
  width: 260px;
  margin: 0 auto;
  position: relative;

  @media (min-width: @tablet-width) {
    height: 90px;
    width: 87px;
    margin: 0;
  }

  @media (min-width: @desctop-width) {
    height: 90px;
    width: 87px;
  }
}

// Корзина
.basket {
  background: gold;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 264px;
    margin: 0;
  }
}

.wrap-basket {
  display: flex;
  background: blue;
  position: relative;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 264px;
  }
}

.wrap-basket__basket {
  display: flex;
  background: red;
  width: 33%;
  margin: 0;
  box-sizing: border-box;
  z-index: 3;
  justify-content: flex-start;

  &::before {
    content: "";
    position: absolute;
    left: -70px;
    width: 36px;
    height: 39px;
    background-image: url("../img/cart.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      left: 20px;
      top: 35px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 164px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.wrap-basket__result {
  background: green;
  margin: 0 auto;
  width: 67%;

  @media (min-width: @tablet-width) {
    height: 90px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 99px;
  }
}

// Доставка
.header-nav__delivery {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 260px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    z-index: 7;
  }
}

.delivery {
  background: transparent;
  height: 90px;
  width: 100%;
  padding: 0;
}

.delivery__free {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 90px;
}

//кнопка
.header-nav {
  @media (max-width: @mobile-width-only) {
    & .header-nav__list-down {
      display: none;
    }

    & .header-item {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    min-width: 668px;
    padding: 0 50px;
    height: 200px;
  }
}

.header-nav__nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  background-color: @background-main-color;
  cursor: pointer;
  border: none;
  outline: none;

  &:hover,
  &:active {
    background-color: @background-main-color;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header-nav__nav-toggle::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 17px;
  width: 21px;
  height: 2px;
  background-color: @button-color;
  box-shadow: 0 6px 0 0 @button-color, 0 12px 0 0 @button-color;
}

.header-nav__nav-toggle:active::before {
  //background-color: fade(#ffffff, 30%);
  background-color: @button-color;
  box-shadow:
    0 6px 0 0 @button-color,
    0 12px 0 0 @button-color;
}

.main-nav--opened {
  & .header-nav__nav-toggle {
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 24px;
      left: 18px;
      width: 21px;
      height: 2px;
      background-color: @button-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(@background-main-color, 30%);
    }
  }

  @media (max-width: @mobile-width-only) {
    & .header-nav__list-down {
      display: block;
    }

    & .header-item {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    width: auto;
    height: 200px;
  }
}
