.wrap-basket__basket,
.wrap-basket__result,
.header-item__link,
.header-item-add__link,
.header__link-logo,
.search-result__enter,
.search-result__text,
.header-nav__delivery {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  border-style: none;
  color: @black;
  display: flex;
  padding: 27px 0;
  width: 200px;
}

.header-item-add {
  display: none;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desctop-width) {
    display: block;
  }
}

.header__link-logo {
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: 400px;
    justify-content: flex-start;
  }

  @media (min-width: @desctop-width) {
    width: 200px;
  }
}

.header-item {
  background: blue;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin: 0;
  }
}

.search-result__enter {
  background: red;
  margin: 0 auto 0 0;
  width: 260px;

  @media (min-width: @tablet-width) {
    width: 100px;
    margin:0 auto;
    margin-right:0;

  }
}

.search-result {
  background: gold;
  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    //width: 60px;
    margin-left: 0;
    height: 22px;
    width:10px;
    margin:0;
  }
}
.basket{
background:gold;
width:260px;
height:75px;
margin:0 auto;
@media (min-width: @tablet-width) {
 // width:240px;
 width:30%;
 margin-right:0;

}
.wrap-basket {
  display: flex;
  background: blue;

  width: 260px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-left:0;
  }
}



.wrap-basket__basket {
  height: 22px;
  background: red;
  width: 40%;
  margin: 0;
  @media (min-width: @tablet-width) {
    width:100px;
  }
}

.wrap-basket__result {
  height: 22px;
  background: green;
  margin: 0 auto;
  margin-left: 0;
  width: 60%;

  @media (min-width: @tablet-width) {
    margin: 0;
    width: 100px;
  }
}

.header-nav__list {
  &-up {
    display: flex;
    list-style: none;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      flex-wrap: wrap;
      flex-direction: row;
      width: 50%;
      margin: 0;
      background: magenta;
    }
  }

  &-down {
    display: flex;
    list-style: none;
    flex-direction: column;

    @media (min-width: @tablet-width) {
      margin: 0;
      width: 50%;
      justify-content: flex-end;
      flex-wrap: wrap;
      flex-direction: row;
      background: tomato;
    }

    @media (min-width: @desctop-width) {
      margin: 0;
      width: 50%;
      justify-content: flex-end;
    }
  }
}

.header-nav__delivery {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 260px;
    font-size: 15px;
    padding: 0;
    margin: 0;
    background: red;
  }
}

.delivery-free {
  background: pink;
  width: auto;
}

.header-nav {
  @media (min-width: @tablet-width) {
    display: flex;
    width: auto;
    height: 200px;
    justify-content: flex-start;
  }

  @media (min-width: @desctop-width) {
    width: 1150px;
    height: 200px;
  }
}

.header-item__link {
  @media (min-width: @tablet-width) {
    width: 180px;
    font-size: 15px;
  }
}
