.promo-pic {
  // background-image: url("../img/mishka-fon.svg");
  // background-repeat: no-repeat;
  height: 373px;
  min-width: 260px;
  text-align: center;
  background-color: @f9-color;
  border-top: 1px solid @border-rgba;

  @media (min-width: @tablet-width) {
    // background-image: url("../img/hero-tablet.svg");
    // background-repeat: no-repeat;
    height: 746px;
    min-width: 100%;
    margin-top: -109px;
    border-top: 1px solid @border-rgba;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-tablet.svg");
      min-width: 100%;
      min-height: 24px;
      left: 0;
      bottom: -1px;
      z-index: 5;
    }
  }

  @media (min-width: @desctop-width) {
    // background-image: url("../img/hero-desktop.svg");
    // background-repeat: no-repeat;
    height: 746px;
    min-width: 1000px;


    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/zigzag-desktop1.svg");
      width: 100%;
      min-height: 34px;
      left: 0;
      bottom: -1px;
      z-index: 5;
      background-size: cover;
    }
  }
}

.p {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  left: 10%;
  top: 190px;
  color: black;
  position: absolute;
  width: 80%;
}
