.promo-pic {
  display: flex;
  background-image: url("../img/mishka-fon.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  min-width: 320px;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.promo-pic-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    background-image: url("../img/hero-tablet.svg");
    background-repeat: no-repeat;
    min-height: 746px;
    min-width: 765px;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: @desctop-width) {
    display: none;
  }
}

.promo-pic-desctop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desctop-width) {
    display: flex;
    background-image: url("../img/hero1.svg");
    background-repeat: no-repeat;
    min-height: 746px;
    min-width: 1150px;
    justify-content: center;
    align-items: center;
  }
}
