.shop-goods-interior {
  background-color: #63D1BB;
  width: 100%;

}

.shop-goods-toys {
  background-color: #56C3B2;
}

.shop-goods-interior__link,
.shop-goods-toys__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 30px;
}
