.shop-goods-interior__link,
.shop-goods-toys__link {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @background-main-color;
  text-decoration: none;
  display: block;
  padding: 30px;
}

.shop-goods {
  @media (min-width: @tablet-width) {
    display: flex;
  }

  &-interior {
    background-color: @light-green;
    width: 100%;

    @media (min-width: @tablet-width) {
      width: 50%;
    }
  }

  &-toys {
    background-color: @dark-green;

    @media (min-width: @tablet-width) {
      width: 50%;
    }
  }
}
