.socials-icon {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background: @white-color;
  height: 80px;

  @media (min-width: @tablet-width) {
    width: 30%;
  }
}

.icon-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 56%;

  @media (min-width: @tablet-width) {
    height: 143px;
  }
}

.icon-item {
  display: flex;
  width: 30%;
  height: 50px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.icon-item__insta {
  background-image: url("../img/insta.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 21px;

  &:hover {
    background-image: url("../img/insta-green.svg");
    background-repeat: no-repeat;
  }

  &:active {
    background-image: url("../img/insta-opacity-green.svg");
    background-repeat: no-repeat;
  }
}

.icon-item__fb {
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 28px;

  &:hover {
    background-image: url("../img/fb-green.svg");
    background-repeat: no-repeat;
  }

  &:active {
    background-image: url("../img/fb-opacity-green.svg");
    background-repeat: no-repeat;
  }
}

.icon-item__twitter {
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;

  &:hover {
    background-image: url("../img/twitter-green.svg");
    background-repeat: no-repeat;
  }

  &:active {
    background-image: url("../img/twitter-opacity-green.svg");
    background-repeat: no-repeat;
  }
}
