.week-goods {
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr;
  }

  @media (min-width: @desctop-width) {
    margin-top: 105px;
    min-width: 1050px;
  }
}

//заглавие
.week-goods__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  background-color: green;
  margin-top: -20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    font-size: 43px;
    margin: 0;
    padding: 0;
    width: 450px;
  }

  @media (min-width: @desctop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 0;
    width: 874px;
    z-index: 7;
    text-align: left;
  }
}

.week-goods__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-green;
  background-color: red;
  width: 100%;
  margin-top: 10px;
  align-items: flex-start;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: inline;
    }

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    margin-right: 0;
    text-align: center;
  }

  @media (min-width: @desctop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 176px;
    margin-left: 0;
  }
}

// див обёртка
.week-goods-wraper {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desctop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.week-goods-wraper__descraiption {
  width: 100%;
  margin-top: 20px;
  background: green;

  @media (min-width: @tablet-width) {
    width: 39%;
    margin-bottom: 50px;
    height: 70px;
  }

  @media (min-width: @desctop-width) {
    margin-bottom: 100px;
    width: 30%;
  }
}

.week-goods-wraper__property {
  width: 100%;
  margin: 10px 0;
  background: red;

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.week-goods-wraper__description-color {
  margin-left: 50px;
}

.week-goods-wraper__description-diametr {
  margin-left: 21px;
}

.week-goods-wraper__description-height {
  margin-left: 32px;
}

.week-goods-wraper__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 26px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 39%;
    margin-top: 70px;
  }
}

.week-goods-wraper__submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @braun-letters-color;
  background-color: transparent;
  text-transform: uppercase;
  border-style: none;
  height: 52px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  border: 2px solid @braun-letters-color;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 39%;
  }
}

.week-goods__pic {
  background-image: url("../img/set-mobile.svg");
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 120.25%;
  width: 100%;
  background-size: contain;

  @media (min-width: @tablet-width) {
    position: relative;
    bottom: 35%;
    left: 67px;
    float: right;
    padding: 0;
    background-image: url("../img/triple-tablet.svg");
    background-repeat: no-repeat;
    min-height: 403px;
    width: 400px;
  }

  @media (min-width: @desctop-width) {
    position: absolute;
    bottom: 78px;
    left: 350px;
    background-image: url("../img/triple-desktop.svg");
    background-repeat: no-repeat;
    min-height: 636px;
    width: 525px;
    order: 3;
  }
}

.order-form {
  display: none;
}
