.week-goods {
  display: flex;
  margin-top: 50px;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  @media (min-width: @tablet-width) {
    min-width: 668px;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 334px;
    grid-template-rows: min-content 1fr;
  }

  @media (min-width: @desctop-width) {
    grid-template-columns: min-content 1fr 525px;
    grid-template-rows: 1fr;
  }
}

//заглавие
.week-goods__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black;
  margin-top: -20px;
  width: 100%;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    font-size: 43px;
    margin: 0;
    padding: 0;
    width: 450px;
    position: absolute;
  }

  @media (min-width: @desctop-width) {
    font-size: 53px;
    line-height: 57px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 0;
    width: 550px;
    z-index: 7;
    text-align: left;
    position: absolute;
    left: 220px;
  }
}

.week-goods__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-green;
  width: 100%;
  margin-top: 10px;
  align-items: flex-start;

  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: inline;
    }

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    width: 100px;
    margin-right: 0;
    text-align: center;
  }

  @media (min-width: @desctop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 176px;
    margin-left: 0;
  }
}

// див обёртка
.week-goods-wraper {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  @media (min-width: @desctop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 45px;
  }
}

.week-goods-wraper__descraiption {
  width: 100%;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    width: 85%;
    margin-bottom: 50px;
    height: 70px;
  }

  @media (min-width: @desctop-width) {
    margin-bottom: 110px;
    margin-top: 150px;
    width: 70%;
  }
}

.week-goods-wraper__property {
  width: 100%;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid @ec-color;

  @media (min-width: @tablet-width) {
    width: 90%;
  }

  @media (min-width: @desctop-width) {
    width: 70%;
  }
}

.week-goods-wraper__description-color {
  margin-left: 50px;
}

.week-goods-wraper__description-diametr {
  margin-left: 21px;
}

.week-goods-wraper__description-height {
  margin-left: 32px;
}

.week-goods-wraper__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 26px;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 39%;
    margin-top: 53px;
  }
}

.week-goods-wraper__submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @braun-letters-color;
  background-color: transparent;
  text-transform: uppercase;
  border-style: none;
  height: 52px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 80px;
  outline: none;
  border: 2px solid @braun-letters-color;
  width: 100%;

  &:hover {
    background: @gray-rgba;
    color: @background-main-color;
  }

  &[value]:active {
    color: @background-main-color-opacity;
  }

  @media (min-width: @tablet-width) {
    width: 39%;
  }
}

.week-goods__pic-first {
  background-image: url("../img/triple-set-desktop.png");
  background-repeat: no-repeat;
  height: 0;
  padding-bottom: 120.25%;
  width: 100%;
  background-size: contain;
  margin-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/triple-set-desktop@2x.png");
    height: 0;
    padding-bottom: 120.25%;
    width: 100%;
  }

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.week-goods__pic {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
    background-image: url("../img/triple-set-tablet.png");
    background-repeat: no-repeat;
    min-height: 404px;
    width: 334px;
    margin-right: 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triple-set-tablet@2x.png");
      height: 404px;
      width: 334px;
      margin-right: 0;
      background-size: contain;
    }
  }

  @media (min-width: @desctop-width) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("../img/triple-set-desktop.png");
    background-repeat: no-repeat;
    height: 636px;
    width: 525px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triple-set-desktop@2x.png");
      height: 0;
      padding-bottom: 120.25%;
      width: 100%;
    }
  }
}

//форма
.order-form {
  position: absolute;
  display: block;
  width: 260px;
  height: 340px;
  top: 380px;
  background-color: @background-main-color;
  border: 2px solid @c6-color;
  box-shadow: 5px 10px @box-color-black;

  @media (min-width: @tablet-width) {
    left: 100px;
    top: 100px;
  }
}

.order-form__order-title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: @black-rgba;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}

.order-form__title {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @gray-rgba;
  text-align: center;
  margin-bottom: 20px;
}

.pic-size {
  appearance: none;
}

.size {
  display: block;
  width: 82px;
}

.pic-size__span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  text-transform: uppercase;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid @c6-color;
}

.choose-size {
  position: relative;
  height: 100px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
  border: none;
}

.order-form__submit {
  width: 260px;
  height: 52px;
  background-color: @light-green;
  border: none;
  color: @background-main-color;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  margin-top: 30px;
}

.pic-size:checked + .pic-size__span {
  height: 52px;
  width: 82px;
  background-color: @background-main-color;
  border: 2px solid @light-green;
}

.order-form-not {
  display: none;
}
