.week-goods-wraper {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.week-goods__name {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  padding: 31px 31px 0 31px;
}

.week-goods__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  padding: 0 31px 31px 31px;
}

.week-goods-wraper__descraiption {
  padding-left: 31px;
}

.week-goods-wraper__property {
  width: 30%;
  padding-left: 31px;
}

.week-goods-wraper__description-property {
  width: 50%;
}

.week-goods-wraper__pic {
  background-image: url("../img/triple-set.svg");
  background-repeat: no-repeat;
  min-height: 300px;
  width: 320px;
  margin-left: 20px;
}

.week-goods-wraper__price {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-top: 26px;
  width: 100%;
}

.week-goods-wraper__submit {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #444444;
  background-color: transparent;
  text-transform: uppercase;
  border-style: none;
  width: 260px;
  height: 52px;
  margin-left: 31px;
  border: 2px solid #444444;
}

.order-form {
  display: none;
}
@media(min-width:@tablet-width){
.week-goods{
  display:flex;
  flex-wrap: wrap;
}
.week-goods__name{
  display:flex;
  height:100px;
  width:400px;
  align-items: center;
  justify-content: flex-start;

}
.week-goods__title{
  display: flex;
  align-items: flex-end;
}
.week-goods-wraper{
  width:50%;
}
}
