.goods-list {
  list-style: none;
}

.goods-item__link {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  margin-top: 30px;
  padding-left: 28px;
}

.goods-item__disсription {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @braun-letters-color;
  padding-left: 28px;
  width: 260px;
}

.goods-item__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  margin-left: 30px;
  width: 250px;
  padding: 30px 0;
  border-top: 1px solid @ec-color;
  border-bottom: 1px solid @ec-color;
  margin-bottom: 30px;
}

.goods-item {
  margin-left: 31px;
  display: flex;
  width: 260px;
  flex-wrap: wrap;
}

.goods-item__video {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  width: 260px;
}

.goods-item__discription-video {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @braun-letters-color;
  margin: 30px 0;
}

.goods-item__button {
  position: relative;
  left: 145px;
  border: none;
  background-color: transparent;
}

.camera {
  outline: none;
  border: none;
  position: relative;
}

.camera-pic {
  position: absolute;
  top: 13px;
  left: 40px;
  background-image: url("../img/video-camera.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  margin-right: 15px;
}

.camera-text {
  justify-content: center;
  height: 70px;
  margin-left: 95px;
}
