.goods-list {
  list-style: none;

  @media (min-width: @desctop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //margin:0 50px;
  }
}

.goods-item__link {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  margin-top: 30px;
  padding-left: 28px;
}

.goods-item__disсription {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: @braun-letters-color;
  padding-left: 28px;
  width: 260px;
}

.goods-item__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: @black;
  margin-left: 30px;
  width: 250px;
  padding: 30px 0;
  border-top: 1px solid @ec-color;
  border-bottom: 1px solid @ec-color;
  margin-bottom: 30px;
}

.img-goods .img-goods__basket {
  width: 260px;
  height: 195px;
  background-image: url("../img/baskets-for-toys.svg");

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
    background-image: url("../img/basket-for-toys-tablet.svg");
  }

  @media (min-width: @desctop-width) {
    width: 316px;
    height: 462px;
    background-image: url("../img/basket-desctop.svg");
  }
}

.img-goods .img-goods__bunny {
  width: 260px;
  height: 195px;
  background-image: url("../img/bunny-toy.svg");

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
    background-image: url("../img/bunny-toy-tablet.svg");
  }

  @media (min-width: @desctop-width) {
    width: 316px;
    height: 462px;
    background-image: url("../img/bunny-desctop.svg");
  }
}

.img-goods .img-goods__big-basket-for-toys {
  width: 260px;
  height: 195px;
  background-image: url("../img/big-basket-for-toys.svg");

  @media (min-width: @tablet-width) {
    width: 334px;
    height: 334px;
    background-image: url("../img/big-basket-for-toys-tablet.svg");
  }

  @media (min-width: @desctop-width) {
    width: 316px;
    height: 462px;
    background-image: url("../img/big-basket-desctop.svg");
  }
}

.goods-item {
  margin-left: 31px;
  display: flex;
  width: 260px;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    flex-wrap: nowrap;
  }

  @media (min-width: @desctop-width) {
    flex-wrap: wrap;
    margin: 0;
  }
}

.goods-item__video {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  width: 260px;
}

.goods-item-v {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desctop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
  }
}

.goods-item-v__pic {
  width: 260px;
  height: 150px;
  margin: 0 auto;
  background-image: url("../img/video-mobile.svg");

  @media (min-width: @tablet-width) {
    display: flex;
    width: 668px;
    height: 455px;
    background-image: url("../img/video-tablet.svg");
    order: 1;
  }
}

.goods-item-v__discription-video {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: @braun-letters-color;
  margin: 30px 0;

  @media (min-width: @tablet-width) {
    order: 3;
    height: 20px;
    margin: 20px 220px 40px 37px;
  }

  @media (min-width: @desctop-width) {
    width: 200px;
    position: relative;
    left: 64%;
    bottom: 50%;
  }
}

.goods-item__button {
  position: relative;
  left: 145px;
  border: none;
  background-color: transparent;
}

.camera {
  position: relative;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 400px;
    order: 2;
  }
}

.camera-pic {
  position: absolute;
  top: 13px;
  left: 40px;
  background-image: url("../img/video-camera.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;

  @media (min-width: @tablet-width) {
    top: 22px;
  }

  @media (min-width: @desctop-width) {
    top: 50px;
    left: 20px;
  }
}

.camera-text {
  height: 70px;
  margin-left: 95px;
  width: 1200px;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: @desctop-width) {
    width: 150px;
    margin-top: 100px;
    margin-left: 20px;
  }
}
