.make-order {
  margin-left: 31px;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  color: @braun-letters-color;
  text-transform: uppercase;
  padding: 10px;
  width: 260px;
  background-color: transparent;
  border: 2px solid @braun-letters-color;
}
