.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  @media (min-width: @desctop-width) {
    background-color: @background-main-color;
  }
}

// Это оставлю,упрощает разметку
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.body-wraper {
  background-color: @background-main-color;
  color: @braun-letters-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  min-width: 320px;
  //width: 260px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  //background:red;

  @media (min-width: @tablet-width) {
    min-width: 768px;

    // width: 668px;
    //background:red;
  }

  @media (min-width: @desctop-width) {
    //min-width: 1150px;
    width: 1050px;
  }
}

.header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.main {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.footer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}
