.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  background-color: #c7c7c7;
}

// это оставлю,упрощает разметку
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #444444;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  width: 320px;
  margin-bottom: 100px;
  margin-top: 100px;
}

@tablet-width: 765px;
@desctop-width: 1150px;

@media (min-width: @tablet-width) {
  body {
    width: 765px;
    margin: 0 50px;
  }
}

@media (min-width: @desctop-width) {
  body {
    width: 1150px;
    margin: 0 50px;
  }
}
