@background-page-color: #c7c7c7;
@background-main-color: #ffffff;
@background-main-color-opacity: fade( #ffffff,30%);
@braun-letters-color: #444444;
@black: #000000;
@black-hover: fade( #000000, 60%);
@black-active: fade( #000000, 30%);
@black-rgba:rgba(0, 0, 0, 1);
@ec-color: #ececec;
@light-green: #63d1bb;
@dark-green: #56c3b2;
@hover-light-green: #59D5BC;
@hover-dark-green:fade(#46C1AE, 30%);
@underline-color: #62D1BA;
@underline-hover-color: #46C1AE;
@underline-active-color: fade(#46C1AE, 10%);
@white-color:#f1f1f1;
@button-color: rgba(35, 31, 32, 1);
@f9-color: #f9f9f9;
@c6-color: #C6C6C6;
@gray-rgba: rgba(68, 68, 68, 1);
@box-color-black: rgba(0, 1, 1, 0.25);
@border-rgba: rgba(0,0,0,0.1);

@tablet-width: 768px;
@desctop-width: 1150px;
@mobile-width-only: 767px;
