@background-page-color: #c7c7c7;
@background-main-color: #ffffff;
@braun-letters-color: #444444;
@black: #000000;
@ec-color: #ececec;
@light-green: #63d1bb;
@dark-green: #56c3b2;
@white-color:#f1f1f1;

@tablet-width: 765px;
@desctop-width: 1150px;
