.form-color {
  border: none;
  border-top: 1px solid @light-green;
  //position: relative;
  min-width: 260px;
  //margin: 0 30px;
  padding: 10px 30px;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    min-width: 568px;
    margin-left: 174px;
    margin-bottom: 100px;

    &::before {
      content: "";
      background-color: @white-color;
      position: absolute;
      height: 304px;
      padding: 0 150px;
      left: -250px;
      top: 0;
      width: 100%;
    }
  }

  @media (min-width: @desctop-width) {
    display: flex;
    min-width: 920px;
  }
}

.form-color__content {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}

.content-color__input {
  appearance: none;
}

.content-color {
  position: relative;
  margin: 20px;
  display: flex;
  margin-left: 65px;
  height: 40px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    width: 210px;
  }
}

.content-color__checkbox {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  left: -65px;
}

.content-color__input:checked + .content-color__checkbox {
  height: 40px;
  width: 40px;
  background-image: url("../img/active-checkbox.svg");
  background-repeat: no-repeat;
}
