.form-type {
  border: none;
  border-top: 1px solid @light-green;
  display: flex;
  flex-direction: column;
  height: 110px;
  padding: 10px 30px;
  min-width: 260px;


  @media (min-width: @tablet-width) {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 668px;
    background: green;
    margin: 50px 0;
    //padding:0 50px;
  }
}

.form-type__content {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}


.content-things {
  position: relative;
  display: flex;
  height: 50px;
  margin-left: 65px;
  // background:blue;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    width: 49%;
    justify-content: flex-start;
    margin-left: 247px;
    //margin: 0;
  }
}

.content-things__input {
  appearance: none;
}

.content-things__radio {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url("../img/radio.svg");
  background-repeat: no-repeat;
  left: -65px;
  //background: blue;

  @media (min-width: @tablet-width) {
    left: -50px;
  }
}

.content-things__input:checked + .content-things__radio {
  height: 40px;
  width: 40px;
  background-image: url("../img/active-radio.svg");
  background-repeat: no-repeat;
}
