.form-color {
  border: none;
  border-top: 1px solid @light-green;
  min-width: 260px;
  padding: 10px 30px;


  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border: none;
    min-width: 668px;
    margin-bottom: 100px;
    padding: 0 50px;
    //margin: 0;
    background: red;
  }

  @media (min-width: @desctop-width) {
    display: flex;
    min-width: 920px;
  }
}

.form-color__content {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: @black;
}

.content-color__input {
  appearance: none;
}

.content-color {
  position: relative;
  margin: 20px;
  display: flex;
  margin-left: 65px;
  height: 40px;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    width: 120px;
    margin-left: 178px;
    background: blue;
  }
}

.content-color__checkbox {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url("../img/checkbox.svg");
  background-repeat: no-repeat;
  left: -65px;
}

.content-color__input:checked + .content-color__checkbox {
  height: 40px;
  width: 40px;
  background-image: url("../img/active-checkbox.svg");
  background-repeat: no-repeat;
}
