.tel-form,
.email-form,
.comment-textarea {
  border: none;
  border-top: 1px solid @light-green;
  padding: 30px 30px;
  // margin: 0 30px;
  min-width: 260px;

  @media (min-width: @tablet-width) {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 668px;
  }
}

.placeholder-content-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  border-color: fade(@black, 10%);
  position: relative;
  //margin-top: 5px;
  padding: 15px 0 15px 15px;
  //margin-bottom: 5px;
  width: 94%;
  border: 2px solid @black;
}

.email-inside-block {
  position: relative;

  &::before {

    content: "";
    position: absolute;
    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 21px;
    left: 215px;
    bottom: 22px;
    z-index: 3;
  }
}

.tel-inside-block {
  position: relative;

  &::before {

    content: "";
    position: absolute;
    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    width: 25px;
    height: 24px;
    left: 220px;
    bottom: 22px;
    z-index: 3;
  }
}

.note-form__order-knitting {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @braun-letters-color;
  margin: 20px 0;
}

.note-form {
  min-width: 260px;
  padding: 0 30px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 668px;
    margin: 0 auto;
  }
}

.order-knitting {
  @media (min-width: @desctop-width) {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
