.order-knitting {
  margin: 0 31px;
}

.legend-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  padding: 0 15px 0 0;
}

.form-type,
.form-initials,
.form-color,
.tel-form,
.email-form,
.comment-textarea {
  border: none;
  border-top: 1px solid #63d1bb;
}

.form-type__content,
.form-color__content,
.form-initials__content {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.placeholder-content {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}
