.legend-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: @light-green;
  position: relative;
  margin-left: 0;
}

.legend-name__wrap {
  position: absolute;
  left: 0;
  bottom: -7px;
  background: @background-main-color;
  width: 70px;
  display: block;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 25px;
    margin: 0;
  }
}

.order-knitting {
  width: 100%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content min-content min-content min-content min-content min-content;
    // background:green;
  }
}

.form-type {
  @media (min-width: @tablet-width) {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.form-color {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.form-initials {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.tel-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.email-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

.comment-textarea {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}

.note-form {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
