.note-form__order-knitting {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: @braun-letters-color;
  text-align: left;
  margin-top: -15px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 66%;
    text-align: right;
    font-weight: normal;
    font-size: 17px;
    line-height: 30px;
    margin-top:16px;
  }

  @media (min-width: @desctop-width) {
    width: 95%;
    text-align: right;
  }
}

.note-form {
  min-width: 260px;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    //justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;
    padding: 0;
    margin-bottom: -3px;
  }

  @media (min-width: @desctop-width) {
    width: 80%;
    display:flex;
    justify-content: space-between;
  }
}

.order-knitting__submit {
  display:block;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  color: @braun-letters-color;
  text-transform: uppercase;
  border: 2px solid @braun-letters-color;
  background-color: transparent;
  width: 98%;
  padding: 15px 0;
  margin: 0 auto;
  margin-bottom: 54px;

  @media (min-width: @tablet-width) {

    width: 230px;
    height: 54px;
    padding-top:18px;
    margin-top: 4px;
  }
  @media (min-width: @desctop-width) {
    width:47%;
  }
}
